body {
  margin: 0;
}

hr {
  border: 6px dotted #EAF6F6;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

h1{
  font-family: 'Montserrat', sans-serif;
  font-size: 80px;
  color: rgb(113, 201, 206);
}

h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  color: rgb(113, 201, 206);
}

.top-container{
  background: rgb(227, 253, 253);
  text-align: center;
  padding-top: 80px;
  
}
.top-cloud{
    position: absolute;
    right: 300;
    top: 45;
}

.bottom-cloud {
  position: absolute;
  left: 180px;
  bottom: 350px;
}

.middle-container{
  text-align: center;
}
#profile{
  width: 15%;
  text-align: center;

}
.profile{
  margin : 50px;
  
}
.intro{
  font-family: sans-serif;
}
.skills-1st{
  display: flex;
  margin: 55px auto 55px auto;
  width: 80%;
  text-align: left;
  align-items: center;
}
.skills-info{
  margin: 50px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(113, 201, 206);
  font-size: 20px;
}

.developer{
  width: 20%;
  border-radius: 50%;
}

.design{
  width: 20%;
  border-radius: 50%;
}

.contact-me{
  color:rgb(86, 107, 109);
  font-family: sans-serif;
}

.bottom-container{
  font-family: sans-serif;
}

.btn {
  padding: 20px;
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}